*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family:  'Raleway', sans-serif;
    overflow-y: scroll;
}

@font-face{
    font-family: Quantum;
    src: url('/assets/font/Quantum.otf');
}

.container{
    max-width: 1440px;
    width: 100%;
}

h1{
    text-align: center;
}

h2{
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    margin-bottom: 50px;
    letter-spacing: 4px;
    font-size: 33px;
}

h3{
    
    font-size: 31.5px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

h4{
    font-size: 22px;
}

h5{
    font-size: 20px;
    margin-bottom: 10px;
}

section, 
footer{
    padding: 50px 20px;
}

/*header*/

header{
    background-color: rgba(0,0,0,.5);
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    position: fixed;
    width: 100%;
    padding: 30px 20px;
    z-index: 1;
}

header .container{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 32px;
    color: #fff;
    font-weight: normal;
    margin-top: -8px;
    font-family: 'Quantum', 'Raleway', sans-serif;
    letter-spacing: 3px;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

.menuMobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.menuMobile div{
    background-color: #FFF;
    height: 2px;
    width: 35px;
    margin: 5px 0;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style-type: none;
    position: relative;
    margin-left: 15px;
}


.menu ul li::after{
    content: "";
    width: 102%;
    position: absolute;
    left: 0;
    height: 4px;
    bottom: -31px;
    transition: 0.2s;
}

.menu ul li:hover::after{
    background-color: #FFF;
}

.menu ul a{
    text-decoration: none;
    color: #FFF;
    padding: 10px 5px;
}

/*banner section*/

#banner {
    height: calc(100vh - 1px);
    max-width: 100vw;
    max-width: 100vw;
    background-image: url(../images/codigo.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    padding: 0;
    text-align: center;
}

#banner div{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    padding: 10px;
}

#banner h1{
    color: #9b3154;
    font-size: 60px;
    animation-delay: 0.4s;
    line-height: 55px;
}

#banner p{
    margin-top: 15px;
    font-size: 30px;
    animation-delay: 0.7s;
}

#banner span{
    animation-delay: 1s;
    text-align: center;
}

#banner a{
    display: inline-block;
    padding: 15px 5px;
}

#banner img{
    height: 30px;
}

#banner .github{
    filter: invert(97%) sepia(97%) saturate(0%) hue-rotate(4deg) brightness(103%) contrast(103%);
}

/*about*/

#about{
    background-color: #9b3154;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    color: #DDD;
    
}

#about h3,
#about strong{
    color: #000;
}

#about p{
    line-height: 22px;
}

#about .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(374px, 1fr));
    align-items: center;
    justify-content: center;
}


#about a{
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 19px;
    padding: 15px 30px;
    border: 2px solid#000;
    transition: 0.2s;
    max-height: 100vh;
    text-align: center;
}

#about a:hover{
    background-color:#fff;
    color: #FFF;
}

#about img{
    max-width: 100%;
}

@media (max-width: 787px){
    #about .container div:last-child{
        margin-top: 20px;
        text-align: center;
    }

    #about img{
        width: 100%;
        min-width: 260px;
        max-width: 500px;
    }
}

/*serviços*/

#services{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#services .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 72px;
    justify-content: space-between;
}

.service{
    display: flex;
    color: #999;

}

.iconHolder{
    height: 60px;
    width: 60px;
    margin-right: 32px;
    padding: 10px 15px;
    border: 1px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #73263f;
}

.iconHolder img{
    height: 40px;
    width: 40px;
}

.service h4{
    color: #FFF;
    margin-bottom: 12px;
}

.service p{
    line-height: 20px;
    font-size: 14px;
}

@media (max-width: 1090px){
    #services h4{
        width: 100px;
    }
}

@media (min-width: 683px) and (max-width: 805px){
    #services .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 682px){
    #services .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .service{
        width: 340px;
    }
}

/*skills section*/

#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4c1a2a;
    color: #DDD;
}

#skills .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    grid-gap: 20px;
    text-align: center;
}

#skills img{
    height: 120px;
    margin-bottom: 10px;
}

/*projects section*/

#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#projects .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

@media (max-width: 682px){
    #projects .container{
        grid-template-columns: 1fr;
    }
}

.project{
    color: #FFF;
    height: 280px;
    background-image: url(../images/projects/calculadora\ react\ js.PNG);
    background-position: center;
    background-size: cover;
    text-align: center;
    transition: 0.4s;
}

.project:hover{
    padding: 10px;
}

.project div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0;
    transition: 0.4s;
}

.project:hover div{
    opacity: 1;
}

.project img{
    height: 20px;
    margin-right: 3px;
}

.project p{
    font-size: 14px;
}

.project a{
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    color: #FFF;
    letter-spacing: 2px;
    position: relative;
    padding: 5px;
}

.project a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 5px;
    background-color: #fff;
    transition: 0.3s;
}

.project a:hover::after{
    width: 90%;
}

.awax div{
    background-color: rgba(178, 135, 86, .8);
}

.starbucks{
    background-image: url(../images/projects/contador\ react.PNG);
}

.starbucks div{
    background-color: rgba(17, 112, 80, .8);
}

.fylo{
    background-image: url(../images/projects/chat.PNG);
}

.fylo div{
    background-color: rgba(29, 63, 122, .8);
}

.medicenter{
    background-image: url(../images/projects/resturante.PNG);
}

.medicenter div{
    background-color: rgba(57, 170, 225, .8);
}

/*experiencia*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  background:#73263f ;
}
::selection{
  color: #fff;
  background: #73263f;
}
.wrapper{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: black;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background: black;
  border-radius: 5px;
  color: #fff;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: black;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #73263f;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ff7979;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon{
  top: 15px;
  right: -60px;
}
.row-2 section .icon{
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title{
  font-size: 22px;
  font-weight: 600;
}
.row section p{
  margin: 10px 0 17px 0;
}
.row section .bottom a{
  text-decoration: none;
  background: #ff7979;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover{
  transform: scale(0.97);
}
@media(max-width: 790px){
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }
}
@media(max-width: 440px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 10px 0;
  }
}
/*contact section*/

#contact{
    background-color:#000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact img{
    filter: invert(39%) sepia(87%) saturate(709%) hue-rotate(310deg) brightness(82%) contrast(105%);
    height: 40px;
    margin-bottom: 10px;
}

#contact .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    grid-gap: 20px;
    text-align: center;
    color: #FFF;
}

#contact a{
    color: #FFF;
}

#contact .whatsapp{
    color: #075e54;
}

@media (max-width: 919px){
    #contact .container,
    #skills .container{
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        max-width: 520px;
    }
}

@media (max-width: 520px){
    #contact .container,
    #skills .container{
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }
}

footer{
    text-align: center;
    background-color: #4c1a2a;
    color: #999;
}

footer a{
    color: #D43F52;
}

.copyright{
    margin-top: 25px;
}

/*tablet responsivity*/

@media (max-width: 750px){
    .logo{
        margin-top: 0;
    }
    
    .menuMobile{
        display: flex;
    }
    
    .menu ul{
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #4c1a2a;
        padding: 0 15px;
    }

    .menu ul li{
        margin-left: 0;
        padding: 15px 0 5px;
        margin-bottom: 20px;
    }

    .menu ul li::after{
        bottom: 5px;
        width: 100px;
    }

    .menu ul li a{
        display: block;
        border-bottom: 1px solid #FFF;
        padding: 10px 0;
    }

    #banner{
        height: calc(100vh - 1px);
    }
}
/*x-small devices responsivity*/

@media (max-width: 374px){
    header{
        padding: 20px 10px;
    }

    #banner{
        height: calc(100vh - 76px);
    }

    .logo{
        font-size: 24px;
    }

    .menu ul{
        top: 70px;
        padding: 20px 10px;
    }

    h2{
        font-size: 30px;
    }

    h3{
        font-size: 24px;
    }

    #banner h1{
        font-size: 50px;
    }

    #banner p{
        font-size: 20px;
    }

    #about .container{
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); 
        font-size: 14px;
    }

    #about a{
        font-size: 16px;
        margin-bottom: 40px;
    }

    .service{
        width: 260px
    }

    #skills img{
        height: 80px;
    }
}